Welcome to Pokercito.lol!

To complete your registration, please enter the following verification code:
{{ .RegistrationCode }}

If you didn't attempt to create an account, you can safely ignore this email.

See you at the tables!
